body{
  background-image: url("assets/background.png");
}

.main_div{
  width: 900px;
  height: 575px;
  background-color: #161616c9;
  border-radius: 25px;
  box-shadow: 10px 10px 30px #050505;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_title{
  color: white;
  text-align: right;
  margin-right: 175px;
  padding-top: 20px;
  font-size: 37px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.input_field{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 18px;
  background-color: #353535;
  border: none;
  color: white;
  margin: 10px 0px 30px 525px;

}

.login_button{
  width: 150px;
  height: 40px;
  margin: 10px 0px 0px 600px;
  border-radius: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.line{
  height: 575px;
  border-left: 2px solid black;
  position: absolute;
  top: 0;
  left: 450px;
}

.left_side_image{
  width: 450px;
  height: 575px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
